In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv("heart.csv")
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
data.shape

(303, 14)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [5]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [6]:
data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

### 1 - Defective Heart
### 2 - Healty Heart

In [7]:
X = data.drop(columns='target' ,axis=1)
Y = data['target']

In [8]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [9]:
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [10]:
X_train , X_test , y_train , y_test = train_test_split(X, Y , test_size = 0.2,stratify=Y,random_state=2)

In [11]:
print(X.shape , X_train.shape , X_test.shape)

(303, 13) (242, 13) (61, 13)

### Logistic Regression

In [12]:
model = LogisticRegression()

In [13]:
model.fit(X_train,y_train)

C:\Users\Adil\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [14]:
model.score(X_train , y_train)

0.8512396694214877

In [15]:
#accuracy

X_train_prediction = model.predict(X_train)
train_accuracy = accuracy_score(X_train_prediction , y_train)

print("Accuracy on training data",train_accuracy)

Accuracy on training data 0.8512396694214877

In [16]:
#accuracy

X_test_prediction = model.predict(X_test)
test_accuracy = accuracy_score(X_test_prediction , y_test)

print("Accuracy on training data",test_accuracy)

Accuracy on training data 0.819672131147541

### Prediction

In [17]:
input_data = (52,1,2,172,199,1,1,162,0,0.5,2,0,3)

input_data_as_numpy_array = np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)

if (prediction[0] == 0):
    print('The Person does not have a Heart Disease')
else:
    print('The Person has Heart Disease')

The Person has Heart Disease

In [18]:
import pickle

In [19]:
filename = 'trained_model.sav'
pickle.dump(model , open(filename , 'wb'))

In [20]:
#loading model

loaded_model = pickle.load(open('trained_model.sav','rb'))

In [21]:
input_data = (52,1,2,172,199,1,1,162,0,0.5,2,0,3)

input_data_as_numpy_array = np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)

if (prediction[0] == 0):
    print('The Person does not have a Heart Disease')
else:
    print('The Person has Heart Disease')

The Person has Heart Disease